.d-center{
    display: flex;
    justify-content: center;
    align-content: center;

}
.row-temp{
    position: relative;
    max-width: 50%;
    padding-bottom: 10px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-areas:
    '... img img'
    'temp temp ...'
    'info info info'
    ;
    min-width: 50%;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);

    margin-bottom: 20px;
}
.temp{
    position: relative;
    bottom: 28px;
    left: 39px;
    grid-area: temp;
    font-size: 30px;
    font-weight: 100;

}
h2{
    color: var(--color-white);
    font-weight: 500;
    text-align: center;
}

.temp-city {
    border-bottom: solid white;
    color: var(--color-white);
    font-size: 28px;
    left: 0;
    letter-spacing: 1px;
    text-align: center;
    display: inline-flex;
    justify-self: center;
    align-self: center;
}

.info-list{
    justify-self: start;
    list-style-type: none;
    grid-area: info;
    line-height: 150%;
    font-size: 18px;
    padding: 6px;
}
span{
    color: var(--color-white);
}

.temp-images{
    grid-area: img;
    justify-self: end;
    padding-right: 5px;
}
.temp-images img{
    max-width: 100%;
    object-fit: contain;
}
@media (max-width: 800px) {
    .row-temp{
        max-width: 60%;
    }
}
@media (max-width: 700px) {
    .row-temp{
        min-width: 65%;
    }
    .five-card{
        font-size: 8px;
    }
}
@media (max-width: 560px) {
    .row-temp{
        min-width: 80%;
    }
}
@media (max-width: 500px) {
    .row-temp{
        min-width: 90%;
    }
}

