
.five-row{

    margin: 0 auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 25px;
    margin-bottom: 20px;
;
}
.five-card{
    position: relative;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);

    margin-bottom: 15px;

}
.five-card img{
    max-width: 40%;
    position: absolute;
    top: 4px;
    right: 0;
}

.five-date{
    padding: 2px;
    font-size: 12px;
    border-bottom: var(--border);
}
.five-temp{
    font-size: 14px;
    margin: 25px 0 10px 0;
    text-align: center;
}
.five-description{
    text-align: center;
}